
.bg-scan{
    background-color: rgb(128, 20, 238,0.25); 
    text-align: center;
}

.bg-hole{
  background-color: rgba(0, 0, 0, 0);
  height: 60vh;
  border: 4px dashed white;
  
}
.bottom{
  height: 17vh;

}

#scanning.hidden {
  display: none;
}
#loading.hidden {
  display: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0); /* Adjust the background color and opacity as needed */
}



    body, html {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
}

.image-button {
background-color: transparent;
border: none;
padding: 0;
position: absolute;
}

.image-button img {
display: block;
width: auto;
height: 5vh; /* Adjust button size */
}

.image-button:hover {
cursor: pointer;
}

.top-left {
top: 6vh;
left: 4vw;
height: 10vh;
}

.top-right {
top: 6vh;
right: 4vw;
height: 10vh;
}

.top-left img {
height: 10vh;
}

.top-right img {
height: 10vh;
}
.scan-title{
transform: translate(-2vw, -5vh);
}
.scan-title img{
height: 15vh;
}
