<html>

<head>
	<style>
		html,
		body {
			display: block;
		}
	</style>

</head>

<body>
	<div id="gameUIScene" style="position: relative; z-index: 4">
		<!-- <img id="info-button" src="/src/assets/screen-asset/photo-game-UI/button_levelname_funfact.png" style="
					position: absolute;
					display: block;
					object-fit: cover;
					max-width: 20%;
					max-height: 20vh;
					margin: auto;
					top: 40%;
					left: 12%;
					transform: translate(0%, 100%);
				" /> -->

		<img id="flower-button" onclick="flowerButtonClick()"
			src="/src/assets/screen-asset/photo-game-UI/btn_Capsule_green.png" style="
					position: absolute;
					display: block;
					object-fit: cover;
					max-width: 10%;
					max-height: 10vh;
					margin: auto;
					top: 40%;
					left: 12%;
					transform: translate(50%, 850%);
				" />
		<img id="bunny-button" onclick="bunnyButtonClick()"
			src="/src/assets/screen-asset/photo-game-UI/btn_Capsule_green.png" style="
					position: absolute;
					display: block;
					object-fit: cover;
					max-width: 10%;
					max-height: 10vh;
					margin: auto;
					top: 40%;
					left: 27%;
					transform: translate(50%, 850%);
				" />
		<img id="balloon-button" onclick="balloonButtonClick()"
			src="/src/assets/screen-asset/photo-game-UI/btn_Capsule_green.png" style="
					position: absolute;
					display: block;
					object-fit: cover;
					max-width: 10%;
					max-height: 10vh;
					margin: auto;
					top: 40%;
					left: 53%;
					transform: translate(50%, 850%);
				" />
		<img id="egg-button" onclick="eggButtonClick()"
			src="/src/assets/screen-asset/photo-game-UI/btn_Capsule_green.png" style="
					position: absolute;
					display: block;
					object-fit: cover;
					max-width: 10%;
					max-height: 10vh;
					margin: auto;
					top: 40%;
					left: 68%;
					transform: translate(50%, 850%);
				" />

		<img id="photo-button" onclick="takePhoto()" src="/src/assets/screen-asset/photo-game-UI/Button_Square.png"
			style="
					position: absolute;
					display: block;
					object-fit: cover;
					max-width: 17%;
					max-height: 17vh;
					margin: auto;
					top: 40%;
					left: 43%;
					transform: translate(50%, 430%);
				" />
	</div>
</body>

</html>